<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head th:replace="fragments/sb-admin :: head"></head>

<body>

<div id="wrapper"><!-- /#wrapper -->

    <div th:replace="fragments/sb-admin :: top-nav"></div>
    <div th:replace="fragments/sb-admin :: vert-nav-admin (category, category.save)"></div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Новая категория</h1>
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <!-- Add category form -->
                    <div class="alert alert-success alert-dismissable" th:if="${message != null}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4 th:text="${message}"></h4>
                    </div>

                    <!-- <form class="form" action="#" th:action="@{/category/save}" method="post"> -->
                    <form class="form" th:fragment="categoryForm (actionUri, actionText, dtype, dtitle, dtimerate, dtimeunit, dperrate, dperunit, dreport, ddescription)" 
                    		id="categoryForm" name="categoryForm" method="post" action="#" 
                    		th:action="@{${actionUri}}"
                    		th:object="${category}">
                        <input  type="hidden" name="id" th:field="*{id}"/>
 
                        <div class="form-group required" th:attrappend="class=${#fields.hasErrors('type')}? ' has-error'">
                            <b>Пример:</b>
                            <ul>
                            <li>Организационно-воспитательная работа</li>
                            <li>Вождение студента на поводке на занятия</li>
                            <li>25 часов на 1 студента</li>
                            <li>Видео подтверждение</li>
                            <li>Видео подтверждение предоставляется по каждому случаю и обязано содержать видимые отметки времени на материале</li>
                            </ul>
                            <label for="type">Вид нагрузки*</label>
                            <select class="form-control" th:field="*{type}" id="type" required="required"
                            		th:disabled="${dtype}">
                                <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.title}">Dropdown</option>
                            </select>
                            <span class="help-block" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Incorrect</span>
                            <p><b>Пример:</b> 
                            <br/>Организационно-воспитательная работа. 
                            </p>
                        </div>
                        <div class="form-group required" th:attrappend="class=${#fields.hasErrors('title')}? ' has-error'">
                            <label for="title">Название*</label>
                            <input class="form-control" type="text" id="title" name="title" 
		                            th:placeholder="#{category.title.placeholder}"
		                            th:field="*{title}" 
		                            th:disabled="${dtitle}" />
                            <!-- required="required"  -->
 							<span class="help-block" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect</span>
                        </div>
                        <div class="form-group" th:attrappend="class=${#fields.hasErrors('timerate')}? ' has-error'">
                            <label for="timerate">Количество единиц затрат</label>
                            <input class="form-control" type="number" id="timerate" name="timerate" 
		                            th:placeholder="#{category.timerate.placeholder}"
		                            th:field="*{timerate}" 
		                            th:disabled="${dtimerate}" />
 							<span class="help-block" th:if="${#fields.hasErrors('timerate')}" th:errors="*{timerate}">Incorrect</span>
                        </div>
                        <div class="form-group" th:attrappend="class=${#fields.hasErrors('timeunit')}? ' has-error'">
                            <label for="timeunit">Единицы измерения затрат (например, часы)</label>
                            <input class="form-control" type="text" id="timeunit" name="timeunit" 
		                            th:placeholder="#{category.timeunit.placeholder}"
		                            th:field="*{timeunit}" 
		                            th:disabled="${dtimeunit}" />
 							<span class="help-block" th:if="${#fields.hasErrors('timeunit')}" th:errors="*{timeunit}">Incorrect</span>
                        </div>
                        <div class="form-group" th:attrappend="class=${#fields.hasErrors('perrate')}? ' has-error'">
                            <label for="perrate">На сколько единиц</label>
                            <input class="form-control" type="number" id="perrate" name="perrate" 
                            		th:placeholder="#{category.perrate.placeholder}"
                            		th:field="*{perrate}"
                            		th:disabled="${dperrate}" />
 							<span class="help-block" th:if="${#fields.hasErrors('perrate')}" th:errors="*{perrate}">Incorrect</span>
                        </div>
                        <div class="form-group" th:attrappend="class=${#fields.hasErrors('perunit')}? ' has-error'">
                            <label for="perunit">Единицы измерения затрат (например, студент)</label>
                            <input class="form-control" type="text" id="perunit" name="perunit" 
		                            th:placeholder="#{category.perunit.placeholder}"
		                            th:field="*{perunit}" 
		                            th:disabled="${dperunit}" />
 							<span class="help-block" th:if="${#fields.hasErrors('perunit')}" th:errors="*{perunit}">Incorrect</span>
                        </div>
                        <div class="form-group" th:attrappend="class=${#fields.hasErrors('report')}? ' has-error'">
                            <label for="report" th:text="#{category.report.title}">Предоставляемый отчет о работе</label>
                            <textarea class="form-control" id="report" name="report" 
                            		th:placeholder="#{category.report.placeholder}"
                            		th:field="*{report}" 
                            		th:disabled="${dreport}"></textarea>
 							<span class="help-block" th:if="${#fields.hasErrors('report')}" th:errors="*{report}">Incorrect</span>
                        </div>
                        <div class="form-group" th:attrappend="class=${#fields.hasErrors('description')}? ' has-error'">
                            <label for="description" th:text="#{category.description}">Дополнительные сведения</label>
                            <textarea class="form-control" id="description" name="description" 
                            		th:placeholder="#{category.description.placeholder}"
                            		th:field="*{description}" 
                            		th:disabled="${ddescription}"></textarea>
 							<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Incorrect</span>
                        </div>
                        <div class="form-group">
                            <label for="saveButton"></label>
                            <button type="submit" class="btn btn-primary" id="saveButton" 
                            		th:text="${actionText}">Save</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- page wrapper -->
</div><!-- /#wrapper -->

<div th:replace="fragments/sb-admin :: scripts"></div>

</body>
</html>