<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      
<head th:replace="fragments/sb-admin :: head"></head>

<body>

<div id="wrapper"><!-- /#wrapper -->

    <!-- Load head and left menu -->
    <div th:replace="fragments/sb-admin :: top-nav"></div>
    <div th:replace="fragments/sb-admin :: vert-nav-admin (user, user.save)"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{user}">Пользователь</h1>
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
					<!-- User form -->
                    <div class="alert alert-success alert-dismissable" th:if="${message != null}" 
                    		id="formMessage" th:fragment="formMessage">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4 th:text="${message}"></h4>
                    </div>
                    <form class="form" th:fragment="userForm (actionUri, actionText, dname, dpass, demail, drole, dempl)" 
                    		id="userForm" name="userForm" method="post" action="#" 
                    		th:action="@{${actionUri}}"
                    		th:object="${user}">
                        <input  type="hidden" name="id" th:field="*{id}"/>
                        
						<div class="form-group required" th:attrappend="class=${#fields.hasErrors('username')}? ' has-error'">
                           <label for="username" th:text="#{user.username}" >Имя пользователя</label> 
                           <input th:if="${dname}" type="hidden"  th:field="*{username}"/>
                           <input class="form-control" type="text" id="username"
								th:field="*{username}" 
								th:disabled="${dname}"/>
								<!-- required="required" -->
							<span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect</span>
						</div>
						<div class="form-group required" th:attrappend="class=${#fields.hasErrors('password')}? ' has-error'">
							<label for="password">Пароль</label> 
                            <input th:if="${dpass}" type="hidden"  th:field="*{password}"/>
							<input class="form-control" type="password" id="password"
								th:field="*{password}" 
								th:disabled="${dpass}" 
								th:errorclass="password"/>
							<!-- required="required"  -->
							<span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect</span>
						</div>
						<div class="form-group" th:attrappend="class=${#fields.hasErrors('email')}? ' has-error'">
                            <label for="email">Email</label>
                            <input th:if="${demail}" type="hidden"  th:field="*{email}"/>
                            <input class="form-control" type="email" 
		                            th:field="*{email}" id="email"
		                            th:disabled="${demail}" />
							<span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect</span>
                        </div>
                        <div class="form-group required" th:attrappend="class=${#fields.hasErrors('roles')}? ' has-error'">
                            <label for="roles">Уровень доступа</label>
                            <input th:if="${drole}" type="hidden"  th:field="*{roles}" th:value="*{roles[0].id}"/>
                            <select class="form-control" th:field="*{roles}" id="roles" required="required"
                            		th:disabled="${drole}">
                                <option th:each="role : ${allRoles}" 
                                		th:value="${role.id}" 
                                		th:text="${role.rolename}">Dropdown</option>
                            </select>
							<span class="help-block" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Incorrect</span>
                        </div>
                        <div class="form-group required" th:attrappend="class=${#fields.hasErrors('employee')}? ' has-error'">
                            <label for="employee">Сотрудник</label>
                            <input th:if="${dempl}" type="hidden"  th:field="*{employee}" th:value="*{employee.id}"/>
                            <select class="form-control" th:field="*{employee}" id="employee" name="employee" th:disabled="${dempl}">
								<option th:each="employee : ${allEmployees}"
										th:value="${employee.id}"
										th:text="${employee.getSNP()}">Dropdown</option>
								</select>
							<span class="help-block" th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}">Incorrect</span>
                        </div>
                        <div class="form-group">
                            <label for="saveButton"></label>
                            <button type="submit" class="btn btn-primary" id="saveButton" 
                            		th:text="${actionText}">Save</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- page wrapper -->
</div><!-- /#wrapper -->

<div th:replace="fragments/sb-admin :: scripts"></div>

</body>
</html>