<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      
<head th:include="fragments/sb-admin :: head"></head>
<head>
	<link rel="stylesheet" th:href="@{/css/bootstrap-multiselect.css}" type="text/css"/>
</head>

<body>

<div id="wrapper"><!-- /#wrapper -->

    <div th:replace="fragments/sb-admin :: top-nav"></div>
    <div th:replace="fragments/sb-admin :: vert-nav-admin (work, work.save)"></div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="work.new">Новая работа</h1>
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <!-- Add work form -->
                    <div class="alert alert-success alert-dismissable" th:if="${message != null}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4 th:text="${message}"></h4>
                    </div>

                    <!-- <form class="form" action="#" th:action="@{/work/save}" method="post"> -->
                    <form class="form dropzone needsclick dz-clickable" th:fragment="workForm (actionUri, actionText, dtitle, dauthor, doutput, dtype, ddate, demployees, dcategories)" 
                    		id="workForm" name="workForm" method="post" action="#" enctype="multipart/form-data"
                    		th:action="@{${actionUri}}"
                    		th:object="${work}">
                        <input  type="hidden" th:field="*{id}"/>
 
                        <div class="form-group required" th:attrappend="class=${#fields.hasErrors('title')}? ' has-error'">
                            <label class="control-label" for="title" th:text="#{title}">Название*</label>
                            <input class="form-control" type="text" id="title"
		                            th:placeholder="#{work.title.placeholder}"
		                            th:field="*{title}" th:value="*{title}"
		                            th:disabled="${dtitle}" />
                            <!-- required="required"  -->
 							<span class="help-block" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect</span>
                        </div>
						<div class="form-group required">
							<label class="control-label" for="author" th:text="#{work.author}">Автор(ы)</label>
							<input class="form-control" type="text" id="author" 
								th:placeholder="#{work.author.placeholder}" 
								th:field="*{author}" th:value="*{author}"
                          		th:disabled="${dauthor}"/>
							<span class="help-block" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Incorrect</span>
						</div>
						<div class="form-group required">
							<label class="control-label" for="output" th:text="#{work.output}">Выходные данные</label>
							<input class="form-control" type="text" id="output" 
								th:placeholder="#{work.output.placeholder}" 
								th:field="*{output}" th:value="*{output}"
                          		th:disabled="${doutput}"/>
							<span class="help-block" th:if="${#fields.hasErrors('output')}" th:errors="*{output}">Incorrect</span>
						</div>
                       <!-- TODO As checkBoxes -->
						<!-- <div class="form-group required" th:attrappend="class=${#fields.hasErrors('types')}? ' has-error'">
							<label class="control-label" for="types" th:text="#{work.type}">Вид работы</label>
							<div class=" ">
								<div class="checkbox" th:each="t : ${types}" >
									<label class="checkbox"> 
										<input th:field="*{types}" type="checkbox" th:value="${t.id}"/><span th:text="${t.title}">#</span>
									</label>
								</div>
							</div>
						</div> -->
						<div class="form-group required" th:attrappend="class=${#fields.hasErrors('types')}? ' has-error'">
                            <label class="control-label" for="types" th:text="#{work.type}">Вид работы</label>
                            <select class="form-control" id="types" multiple="multiple"
                            		th:field="*{types}" 
                            		required="required"
                            		th:disabled="${dtype}">
                           		<option value="0" disabled="disabled" selected="selected" hidden="hidden" th:text="#{work.types.placeholder}">Please Choose...</option>
                                <option th:each="t : ${types}" th:value="${t.id}" th:text="${t.title}">Dropdown</option>
                            </select>
                            <span class="help-block" th:if="${#fields.hasErrors('types')}" th:errors="*{types}">Incorrect</span>
                        </div>
                        <!-- TODO As checkBoxes -->
                        <div class="form-group required col-cm-10" th:attrappend="class=${#fields.hasErrors('employees')}? ' has-error'">
                            <label class="control-label" for="employees" th:text="#{employee}">Сотрудник</label>
                            <select class="form-control" 
                            		th:field="*{employees}" id="employee" required="required"
                            		th:disabled="${demployees}">
                           		<option value="0" disabled="disabled" selected="selected" hidden="hidden" th:text="#{work.employees.placeholder}">Please Choose...</option>
                                <option th:each="emp : ${employees}" th:value="${emp.id}" 
                                	th:text="${emp.getSNP()}">Dropdown</option>
                            </select>
                            <span class="help-block" th:if="${#fields.hasErrors('employees')}" th:errors="*{employees}">Incorrect</span>
                        </div>
                        <div class="form-group required col-cm-10">
                            <label class="control-label" for="category" th:text="#{work.category}">Вид нагрузки</label>
                            <select class="form-control" id="category" 
                            		th:field="*{category}" 
                            		th:value="${category}" 
                            		th:disabled="${dcategory}">
                           		<option value="0" disabled="disabled" selected="selected" hidden="hidden" th:text="#{work.category.placeholder}">Please Choose...</option>
                                <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.title}">Dropdown</option>
                            </select>
                        </div>

						<div class="form-group required"> <!-- #{work.date} -->
                           <label class="control-label" for="date" th:text="*{date != null ? #dates.format(date, #messages.msg('date.pattern.java')) : ''}">Дата</label>
                           <input type='text' class="form-control" id="date" 
                           		th:name="date" th:value="*{date != null ? #dates.format(date, #messages.msg('date.pattern.java')) : #messages.msg('date.pattern.java')}"
                           		th:disabled="${ddate}"/>
                           <span class="help-block" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Incorrect</span>
                        </div>
						<div class="form-group">
							<label class="control-label" for="file">
								<span th:text="#{work.doc}">Загрузить</span>
								<button id="clear" class="btn btn-default btn-xs" type="button">Clear</button></label>
							<div class="input-group">
								<input type="file" id="file" name="file"
									th:placeholder="#{work.doc.placeholder}" 
                           			th:disabled="${ddoc}"/>
							</div>
						</div>
                        <div class="form-group">
                            <label for="saveButton"></label>
                            <button type="submit" class="btn btn-primary" id="saveButton" 
                            		th:text="${actionText}">Save</button>
                        </div>

                    </form>
                </div>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- page wrapper -->
</div><!-- /#wrapper -->

<div th:replace="fragments/sb-admin :: scripts"></div>
</body>
</html>
