<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      
<head th:fragment="head">
<head th:include="fragments/sb-admin :: head"></head>
<link type="text/css" rel="stylesheet" href="/css/autocomplete.css" />
<link type="text/css" rel="stylesheet" href="/css/jquery-ui.min.css" />
<link type="text/css" rel="stylesheet" href="/css/fileupload.css"
		  th:href="@{/css/fileupload.css}"/>
<link type="text/css" rel="stylesheet" href="/css/bootstrap-multiselect.css"
		  th:href="@{/css/bootstrap-multiselect.css}"/>
<style type="text/css">
.multiselect-container>li>a {
	white-space: pre-wrap;
}
</style>
</head>

<body>

<div id="wrapper"><!-- /#wrapper -->

    <div th:replace="fragments/sb-admin :: top-nav"></div>
    <div th:replace="fragments/sb-admin :: vert-nav-admin (work, work.save)"></div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="work.new">Новая работа</h1>
                <!-- <div class="col-sm-2"></div> -->
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <!-- Add work form -->
                    <div class="alert alert-success alert-dismissable" th:if="${message != null}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4 th:text="${message}"></h4>
                    </div>

                    <form class="form" th:fragment="workForm (actionUri, actionText, dtitle, dauthor, doutput, dtype, ddate, demployees, dcategories)" 
                    		id="workForm" name="workForm" method="post" action="#" enctype="multipart/form-data"
                            data-autocomlete-url="/stud/find"
                            data-autocomlete-input-id="student"
                            data-autocomlete-minimal-length="2"
                    		th:action="@{${actionUri}}"
                    		th:object="${work}">
                        <input  type="hidden" th:field="*{id}"/>
 
                        <div class="form-group required" th:attrappend="class=${#fields.hasErrors('title')}? ' has-error'">
                            <label class="control-label" for="title" th:text="#{title}">Название*</label>
                            <input class="form-control" type="text" id="title"
		                            th:placeholder="#{work.title.placeholder}"
		                            th:field="*{title}" th:value="*{title}"
		                            th:disabled="${dtitle}" />
                            <!-- required="required"  -->
 							<span class="help-block" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect</span>
                        </div>
						<div class="form-group required">
							<label class="control-label" for="author" th:text="#{work.author}">Автор(ы)</label>
							<input class="form-control" type="text" id="author" 
								th:placeholder="#{work.author.placeholder}" 
								th:field="*{author}" th:value="*{author}"
                          		th:disabled="${dauthor}"/>
							<span class="help-block" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Incorrect</span>
						</div>
						<div class="form-group required">
							<label class="control-label" for="output" th:text="#{work.output}">Выходные данные</label>
							<input class="form-control" type="text" id="output" 
								th:placeholder="#{work.output.placeholder}" 
								th:field="*{output}" th:value="*{output}"
                          		th:disabled="${doutput}"/>
							<span class="help-block" th:if="${#fields.hasErrors('output')}" th:errors="*{output}">Incorrect</span>
						</div>
                       
                        <!-- Types list with dropdown checkBoxes -->
						<div class="form-group required" th:attrappend="class=${#fields.hasErrors('types')}? ' has-error'">
                            <label class="control-label" for="types" th:text="#{work.type}">Вид работы</label>
                            <div></div>
                            <select id="types" multiple="multiple"
                            		th:field="*{types}" 
                            		required="required">
                                <option th:each="t : ${types}" th:value="${t.id}" th:text="${t.title}">Dropdown</option>
                            </select>
                            <span class="help-block" th:if="${#fields.hasErrors('types')}" th:errors="*{types}">Incorrect</span>
                        </div>
                        <div class="form-group required" th:attrappend="class=${#fields.hasErrors('employees')}? ' has-error'">
                            <label class="control-label" for="employees" th:text="#{employee}">Сотрудник</label>
                            <select class="form-control" multiple="multiple"
                            		th:field="*{employees}" id="employees" required="required"
                            		th:disabled="${demployees}">
                                <option th:each="emp : ${employees}" th:value="${emp.id}" 
                                	th:text="${emp.getSNP()}">Dropdown</option>
                            </select>
                            <span class="help-block" th:if="${#fields.hasErrors('employees')}" th:errors="*{employees}">Incorrect</span>
                        </div>
                        <!-- <Students> -->
                        <div class="form-group ui-widget">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
                                    <label class="control-label" for="student">Студент</label>
                                    <input class="form-control" id="student" />
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
                                    <label class="control-label" for="group">Группа</label>
                                    <input class="form-control" id="group" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <label class="control-label" for="add-student">&nbsp;</label>
                                    <input class="form-control" type="button" id="add-student" value="+" />
                                </div>
                            </div>
                        </div>
                        <div id="selected-students-visual" class="form-group"></div>
                        <select name="students" multiple="multiple" id="selected-students"></select>
                        <!-- </Students> -->
                        <div class="form-group required" th:attrappend="class=${#fields.hasErrors('category')}? ' has-error'">
                            <label class="control-label" for="category" th:text="#{work.category}">Вид нагрузки</label>
                            <select class="form-control" id="category" multiple="multiple"
                            		th:field="*{category}" 
                            		th:value="${category}" 
                            		th:disabled="${dcategory}">
                            	<optgroup th:each="catType : ${categories}" th:label="${catType.title}">
                                <option th:each="cat : ${catType.categories}" th:value="${cat.id}" th:text="${cat.title}" th:title="${cat}">Dropdown</option>
                            	</optgroup>
                            </select>
                            <span class="help-block" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Incorrect</span>
                        </div>

						<div class="form-group required" th:attrappend="class=${#fields.hasErrors('date')}? ' has-error'">
                           <label class="control-label" for="date" th:text="*{date != null ? #dates.format(date, #messages.msg('work.date')) : ''}">Дата</label>
                           <input type='text' class="form-control" id="date" 
                           		th:name="date" th:value="*{date != null ? #dates.format(date, #messages.msg('date.pattern.java')) : #messages.msg('date.pattern.java')}"
                           		th:disabled="${ddate}"/>
                           <span class="help-block" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Incorrect</span>
                        </div>
                        <div class="form-group">
							<div class="fileupload fileupload-new" data-provides="fileupload">
							    <span class="btn btn-info btn-file">
								    <span class="fileupload-new" th:text="#{work.doc.placeholder}">Select file</span>
								    <span class="fileupload-exists" th:text="#{change}">Change</span>
									<input type="file" id="file" name="file"
	                           			th:disabled="${ddoc}"/>
									<input type="hidden" id="doc" th:field="*{doc}"/></span>
							    <span class="fileupload-preview"></span>
							    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
							</div>
                        </div>
 						<div class="form-group required" th:if="*{doc}">
							<label class="control-label" th:text="#{work.doc.exist}">Автор(ы)</label>
							<div class="input-group">
	                          	<span class="input-group-addon">
	                          	<a href="#" th:href="@{/work/download(doc=${work.doc})}" th:if="${work.doc}"
	                          		th:title="#{download}">
	                          	<span class="glyphicon glyphicon-download"></span></a></span>
								<input class="form-control" type="text" th:value="*{doc}"
	                          		th:disabled="disabled"/>
							</div>
						</div>
                        <div class="form-group">
                            <label for="saveButton"></label>
                            <button type="submit" class="btn btn-primary" id="saveButton" 
                            		th:text="${actionText}">Save</button>
                        </div>

                    </form>
                </div>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- page wrapper -->
</div><!-- /#wrapper -->

<div th:replace="fragments/sb-admin :: scripts"></div>

<div th:fragment="scripts">

<!-- Autocomplete -->
<script type="text/javascript" src="/js/autocomplete.js"
	th:src="@{/js/autocomplete.js}"></script>
<script type="text/javascript" src="/js/jquery-ui.js"
	th:src="@{/js/jquery-ui.js}"></script>

<!-- Date picker JS: -->
<script type="text/javascript" src="/js/datepicker/js/bootstrap-datepicker.js"
    th:src="@{/js/datepicker/js/bootstrap-datepicker.js}"></script>
<script type="text/javascript" src="/js/datepicker/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"
    th:src="@{/js/datepicker/locales/bootstrap-datepicker.ru.min.js}"></script>
<script type="text/javascript" src="/js/datepicker/locales/bootstrap-datepicker.uk.min.js" charset="UTF-8"
    th:src="@{/js/datepicker/locales/bootstrap-datepicker.uk.min.js}"></script>
<script th:inline="javascript">
	$('#date').datepicker({
	    clearBtn: true,
	    language: /*[[${#strings.concat(#locale.language, '-', #locale.country)}]]*/,
	    autoclose: true,
		format: /*[[${#messages.msg('date.pattern.js')}]]*/
	});
</script>

<!-- File upload button JS: -->
<script type="text/javascript" th:src="@{/js/fileupload.js}"></script>

<!-- Multiselect dropdown with chekboxes JS: -->
<script type="text/javascript" th:src="@{/js/bootstrap-multiselect.js}"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        $('#types').multiselect({
            nonSelectedText: /*[[${#messages.msg('work.type.placeholder')}]]*/,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: /*[[${#messages.msg('search')}]]*/,
            buttonWidth: '100%',
            maxHeight: 300
        });
    });
</script>
<script th:inline="javascript">
    $(document).ready(function() {
        $('#employees').multiselect({
            nonSelectedText: /*[[${#messages.msg('work.employees.placeholder')}]]*/,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: /*[[${#messages.msg('search')}]]*/,
            buttonWidth: '100%',
            maxHeight: 300
        });
    });
</script>
<script th:inline="javascript">
    $(document).ready(function() {
        $('#category').multiselect({
            onChange: function(option, checked) {
                // Deselect another option (simulate radio)
                var values = [];
                $('#category option').each(function() {
                     if ($(this).val() !== option.val()) {
                         values.push($(this).val());
                     }
                });
                $('#category').multiselect('deselect', values);
                // END Deselect another option (simulate radio)
            },
//        	buttonContainer: '<div id="category-container" />',
            nonSelectedText: /*[[${#messages.msg('work.category.placeholder')}]]*/,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: /*[[${#messages.msg('search')}]]*/,
            enableFiltering: true,
        	enableCollapsibleOptGroups: true,
            buttonWidth: '100%',
            maxHeight: 300
        });
//        $('#category-container .caret-container').click();
    });
</script>
</div>
</body>
</html>
