<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>

    <!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"
          data-th-href="@{/css/bootstrap.css}" />

    <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.css"
          data-th-href="@{/font-awesome/css/font-awesome.css}" />

    <!-- SB Admin CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="/css/sb-admin.css"
          data-th-href="@{/css/sb-admin.css}" />

    <link type="text/css" rel="stylesheet" href="/css/datepicker.css"
          data-th-href="@{/css/datepicker.css}" />

    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="wrapper"><!-- /#wrapper -->

    <div data-th-replace="fragments/sb-admin :: top-nav"></div>
<div data-th-replace="fragments/sb-admin :: vert-nav-admin (activity, activity.save)"></div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Новое событие</h1>
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <!-- Add user form -->
                    <form class="form" action="#" data-th-action="@{/activity/save}" method="post">
                        <div class="form-group">
                            <label for="title">Название</label>
                            <input class="form-control" type="text" data-th-field="*{activity.title}" id="title" name="title" required="" />
                        </div>
                        <div class="form-group" >
                            <label for="place">Место проведения</label>
                            <input class="form-control" type="text" data-th-field="*{activity.place}" id="place" name="place" required="" />
                        </div>
                        <div class="form-group">
                            <label for="start">Дата начала</label>
                            <input type='text' class="form-control" data-date-format="yyyy-mm-dd" data-th-field="*{activity.start}" id="start" name="start" />
                        </div>
                        <div class="form-group">
                            <label for="end">Дата окончания</label>
                            <input type='text' class="form-control" data-date-format="yyyy-mm-dd" data-th-field="*{activity.end}" id="end" name="end" />
                        </div>
                        <div class="form-group">
                            <label for="deadline">Дедлайн</label>
                            <input type='text' class="form-control" data-date-format="yyyy-mm-dd" data-th-field="*{activity.deadline}" id="deadline" name="deadline" />
                        </div>
                        <div class="form-group">
                            <label for="type">Тип</label>
                            <input class="form-control" type="number" data-th-field="*{activity.type}" id="type" name="type" />
                        </div>
                        <div class="form-group">
                            <label for="saveButton"></label>
                            <button type="submit" class="btn btn-primary" id="saveButton">Добавить меропрятие</button>
                        </div>
                        <!--   <tr>
                               <td class="col-sm-1"></td>
                               <td class="col-sm-4 text-danger" data-th-if="${#fields.hasErrors('user.login')}" th-errors="*{user.login}">login error</td>
                               <td class="col-sm-4 text-danger" data-th-if="${#fields.hasErrors('user.email')}" th-errors="*{user.email}">email error</td>
                               <td class="col-sm-4 text-danger" data-th-if="${#fields.hasErrors('user.password')}" th-errors="*{user.password}">password error</td>
                               <td class="col-sm-4 text-danger" data-th-if="${#fields.hasErrors('user.role')}" th-errors="*{user.role}">role error</td>
                               <td class="col-sm-4 text-danger" data-th-if="${#fields.hasErrors('user.employee')}" th-errors="*{user.employee}">employee error</td>
                               <td class="col-sm-2"></td>
                           </tr>
                           -->

                        <div class="alert alert-success alert-dismissable" th:if="${message != null}">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4 data-th-text="${message}"></h4>
                        </div>
                    </form>
                </div>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- page wrapper -->
</div><!-- /#wrapper -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="/js/jquery-1.11.0.min.js"
            data-th-src="@{/js/jquery-1.11.0.min.js}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/resources/js/bootstrap-3.1.1.min.js"
            data-th-src="@{/js/bootstrap-3.1.1.min.js}"></script>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="/js/plugins/metisMenu/jquery.metisMenu.js"
            data-th-src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script type="text/javascript" src="resources/js/sb-admin.js"
            data-th-src="@{/js/sb-admin.js}"></script>

    <script type="text/javascript" src="resources/js/datepicker/js/bootstrap-datepicker.js"
        data-th-src="@{/js/datepicker/js/bootstrap-datepicker.js}"></script>


    <script type="text/javascript">
        $(function () {
            $('#start').datepicker();
        });
        $(function () {
            $('#end').datepicker();
        });
        $(function () {
            $('#deadline').datepicker();
        });
    </script>

</body>
</html>