<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>

    <!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}" />

    <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.css"
          th:href="@{/font-awesome/css/font-awesome.css}" />

    <!-- SB Admin CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="/css/sb-admin.css"
          th:href="@{/css/sb-admin.css}" />

    <link type="text/css" rel="stylesheet" href="/css/datepicker.css"
          th:href="@{/css/datepicker.css}" />

    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="wrapper"><!-- /#wrapper -->

    <div th:replace="fragments/sb-admin :: top-nav"></div>
    <div th:replace="fragments/sb-admin :: vert-nav-admin (activity, activity.edit)"></div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Обновить событие</h1>
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <!-- Add user form -->
                    <form class="form" action="#" th:action="@{/activity/update}" th:object="${activity}" method="post">
                        <input type="text" hidden="hidden" th:field="*{activityId}"/>
                        <div class="form-group">
                            <label for="title">Название</label>
                            <input class="form-control" type="text" th:field="*{title}" id="title" name="title" />
                        </div>
                        <div class="form-group" >
                            <label for="place">Место проведения</label>
                            <input class="form-control" type="text" th:field="*{place}" id="place" name="place" />
                        </div>
                        <div class="form-group">
                            <label for="start">Дата начала</label>
                            <input type='text' class="form-control" data-date-format="yyyy/mm/dd" th:field="*{start}" id="start" name="start" />
                        </div>
                        <div class="form-group">
                            <label for="end">Дата окончания</label>
                            <input type='text' class="form-control" data-date-format="yyyy/mm/dd" th:field="*{end}" id="end" name="end" />
                        </div>
                        <div class="form-group">
                            <label for="deadline">Дедлайн</label>
                            <input type='text' class="form-control" data-date-format="yyyy/mm/dd" th:field="*{deadline}" id="deadline" name="deadline" />
                        </div>
                        <div class="form-group">
                            <label for="type">Тип</label>
                            <input class="form-control" type="number" th:field="*{type}" id="type" name="type" />
                        </div>
                        <div class="form-group">
                            <label for="saveButton"></label>
                            <button type="submit" class="btn btn-primary" id="saveButton">Обновить меропрятие</button>
                        </div>
                           <tr>
                               <td class="col-sm-1"></td>
                               <td class="col-sm-4 text-danger" th:if="${#fields.hasErrors('title')}" th-errors="*{title}">title error</td>
                               <td class="col-sm-4 text-danger" th:if="${#fields.hasErrors('place')}" th-errors="*{place}">place error</td>
                               <td class="col-sm-4 text-danger" th:if="${#fields.hasErrors('start')}" th-errors="*{start}">start error</td>
                               <td class="col-sm-4 text-danger" th:if="${#fields.hasErrors('end')}" th-errors="*{end}">end error</td>
                               <td class="col-sm-4 text-danger" th:if="${#fields.hasErrors('deadline')}" th-errors="*{deadline}">deadline error</td>
                               <td class="col-sm-4 text-danger" th:if="${#fields.hasErrors('type')}" th-errors="*{type}">type error</td>
                               <td class="col-sm-2"></td>
                           </tr>
                        <div class="alert alert-success alert-dismissable" th:if="${message != null}">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4 th:text="${message}"></h4>
                        </div>
                    </form>
                </div>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- page wrapper -->
</div><!-- /#wrapper -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="/js/jquery-1.11.0.min.js"
        th:src="@{/js/jquery-1.11.0.min.js}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="/resources/js/bootstrap-3.1.1.min.js"
        th:src="@{/js/bootstrap-3.1.1.min.js}"></script>

<!-- Core Scripts - Include with every page -->
<script type="text/javascript" src="/js/plugins/metisMenu/jquery.metisMenu.js"
        th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

<!-- SB Admin Scripts - Include with every page -->
<script type="text/javascript" src="resources/js/sb-admin.js"
        th:src="@{/js/sb-admin.js}"></script>

<script type="text/javascript" src="resources/js/datepicker/js/bootstrap-datepicker.js"
        th:src="@{/js/datepicker/js/bootstrap-datepicker.js}"></script>


<script type="text/javascript">
    $(function () {
        $('#start').datepicker();
    });
    $(function () {
        $('#end').datepicker();
    });
    $(function () {
        $('#deadline').datepicker();
    });
</script>

</body>
</html>