<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список мероприятий</title>

    <!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}" />

    <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.css"
          th:href="@{/font-awesome/css/font-awesome.css}" />

    <!-- SB Admin CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="/css/sb-admin.css"
          th:href="@{/css/sb-admin.css}" />

    <!-- DataTables CSS -->
    <link type="text/css" rel="stylesheet" href="/css/dataTables-bootstrap.css"
          th:href="@{/css/dataTables.bootstrap.css}" />

    <!-- DataTables Responsive CSS -->
    <link type="text/css" rel="stylesheet" href="/css/dataTables-responsive.css"
          th:href="@{/css/dataTables-responsive.css}" />

    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">                <!-- /#wrapper -->

    <div th:replace="fragments/sb-admin :: top-nav"></div>

    <div th:replace="fragments/sb-admin :: vert-nav-admin (activity, activity.getAll)"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Список мероприятий</h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Таблица с мероприятиями
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <!-- User table -->
                            <table class="table table-striped table-bordered table-hover" id="dataTables-activities">
                                <thead>
                                <tr>
                                    <th class="col-sm-2">Название</th>
                                    <th class="col-sm-2">Место</th>
                                    <th class="col-sm-1">Начало</th>
                                    <th class="col-sm-1">Конец</th>
                                    <th class="col-sm-1">Крайний срок</th>
                                    <th class="col-sm-1">Type</th>
                                    <th class="col-sm-1"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="activity : ${activities}">
                                    <td th:text="${activity.title}"></td>
                                    <td th:text="${activity.place}"></td>
                                    <td th:text="${activity.start}"></td>
                                    <td th:text="${activity.end}"></td>
                                    <td th:text="${activity.deadline}"></td>
                                    <td th:text="${activity.type}"></td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-warning btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                                Действия<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" th:href="@{/activity/update(id=${activity.activityId})}">
                                                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
                                                        <span >Редактировать</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" th:href="@{/activity/delete(id=${activity.activityId},phase=stage)}">
                                                        <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;
                                                        <span >Удалить</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>

                                </tr>
                                <tr th:remove="all">
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-warning btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                                Действия<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
                                                        <span>Редактировать</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;
                                                        <span >Удалить</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /.table responsive -->
                    </div>
                </div>
            </div>  <!-- /.col-lg-12 -->
        </div>      <!-- /.row -->
    </div>		    <!-- page wrapper -->
</div>              <!-- /#wrapper -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="/js/jquery-1.11.0.min.js"
        th:src="@{/js/jquery-1.11.0.min.js}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="/resources/js/bootstrap-3.1.1.min.js"
        th:src="@{/js/bootstrap-3.1.1.min.js}"></script>

<!-- Core Scripts - Include with every page -->
<script type="text/javascript" src="/js/plugins/metisMenu/jquery.metisMenu.js"
        th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

<!-- SB Admin Scripts - Include with every page -->
<script type="text/javascript" src="resources/js/sb-admin.js"
        th:src="@{/js/sb-admin.js}"></script>

<!-- DataTables JavaScript -->
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>

<!-- For table (use jquery -->
<script>
    $(document).ready(function() {
        $('#dataTables-activities').DataTable({
            responsive: true
        });
    });
</script>

</body>
</html>