<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/sb-admin :: head"></head>

<body>

<div id="wrapper"><!-- /#wrapper -->

    <!-- Load head and left menu -->
    <div th:replace="fragments/sb-admin :: top-nav"></div>
    <div th:replace="fragments/sb-admin :: vert-nav-admin (employee, employee.getAll)"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Список сорудников</h1>
                <div class="panel panel-default">
                    <!-- <div class="panel-heading">Таблица с сотрудниками</div> -->
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <!-- Employee table -->
                            <table class="table table-striped table-bordered table-hover" id="dataTab">
                                <thead>
                                <tr>
                                    <th class="col-sm-2" th:text="#{employee.surname}">Фамилия</th>
                                    <th class="col-sm-2" th:text="#{employee.name}">Имя</th>
                                    <th class="col-sm-2" th:text="#{employee.patronymic}">Отчество</th>
                                    <th class="col-sm-2" th:text="#{employee.jobTitle}">Должность</th>
                                    <th class="col-sm-1" th:text="#{employee.degree}">Ученая степень</th>
                                    <th class="col-sm-2" th:text="#{employee.academicTitle}">Ученое звание</th>
                                    <th class="col-sm-1"><a href="#" th:href="@{/employee/save}" th:title="#{employee.add}"> 
										<span class="glyphicon glyphicon-edit"></span></a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="employee : ${employees}">
                                    <td th:text="${employee.surname}">Фамилия</td>
                                    <td th:text="${employee.name}">Имя</td>
                                    <td th:text="${employee.patronymic}">Отчество</td>
                                    <td th:text="${employee.jobTitle}">Должность</td>
                                    <td th:text="${employee.degree}">Ученая степень</td>
                                    <td th:text="${employee.academicTitle}">Ученое звание</td>
                                    <td>
										<div class="btn-group">
											<button class="btn btn-warning btn-xs dropdown-toggle"
												type="button" data-toggle="dropdown">
												<!-- ... --><span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#" th:href="@{/employee/update(id=${employee.id})}"> 
													<span class="glyphicon glyphicon-pencil"></span>
													<span th:text="#{edit}">Редактировать</span></a></li>
												<li><a href="#" th:href="@{/employee/delete(id=${employee.id})}" 
														data-toggle="modal" 
														data-target="#myModal" 
														th:title="#{remove}">
													<span class="glyphicon glyphicon-trash"></span>
													<span th:text="#{remove}">Удалить</span></a></li>
											</ul>
										</div>
									</td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /.dataTable_wrapper -->
                    </div>
                </div>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- page wrapper -->
</div><!-- /#wrapper -->

<div th:replace="fragments/sb-admin :: scripts"></div>

<!-- DataTables JavaScript -->
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>

<!-- For table (use jquery -->
<script>
    $(document).ready(function() {
        $('#dataTab').DataTable({
        	"columns": [
        	            null,
        	            null,
        	            null,
        	            null,
        	            null,
        	            null,
        	            { "orderable": false }
        	          ]
        /* responsive: true */
        });
    });
</script>

<!-- Confirmation -->
<script type="text/javascript" src="/js/confirm.js" th:src="@{/js/confirm.js}"></script>

</body>
</html>