<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/sb-admin :: head"></head>

<body>

<div id="wrapper"><!-- /#wrapper -->

    <!-- Load head and left menu -->
    <div th:replace="fragments/sb-admin :: top-nav"></div>
    <div th:replace="fragments/sb-admin :: vert-nav-admin (user, user.save)"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Пользователь</h1>
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <!-- User form -->
				    <div th:replace="fragments/user-form :: formMessage"></div>
				    <div th:replace="fragments/user-form :: userForm  (@{/user/update}, 'Сохранить', true, false, false, true, true)"></div>
                    <!-- end User form -->
                </div>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- page wrapper -->
</div><!-- /#wrapper -->

<div th:replace="fragments/sb-admin :: scripts"></div>

</body>
</html>