<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>

    <!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}" />

    <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.css"
          th:href="@{/font-awesome/css/font-awesome.css}" />

    <!-- SB Admin CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="/css/sb-admin.css"
          th:href="@{/css/sb-admin.css}" />

    <!-- DataTables CSS -->
    <link type="text/css" rel="stylesheet" href="/css/dataTables-bootstrap.css"
          th:href="@{/css/dataTables.bootstrap.css}" />

    <!-- DataTables Responsive CSS -->
    <link type="text/css" rel="stylesheet" href="/css/dataTables-responsive.css"
          th:href="@{/css/dataTables-responsive.css}" />

    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<div id="wrapper">
		<!-- /#wrapper -->

		<div th:replace="fragments/sb-admin :: top-nav"></div>

		<div th:replace="fragments/sb-admin :: vert-nav-admin (user, user.getAll)"></div>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Список пользователей</h1>
					<div class="panel panel-default">
						<div class="panel-heading">Таблица с пользователями</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="dataTable_wrapper">
								<!-- User table -->
								<table class="table table-striped table-bordered table-hover"
									id="dataTab">
									<thead>
										<tr>
											<th class="col-sm-1">Имя пользователя</th>
											<th class="col-sm-1">Email</th>
											<th class="col-sm-2">Дата регистрации</th>
											<th class="col-sm-1">Права доступа</th>
											<th class="col-sm-2">Сотрудник</th>
											<th class="col-sm-1"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user : ${users}">
											<td th:text="${user.username}">Имя пользователя</td>
											<td th:text="${user.email}">Email</td>
											<td th:text="${user.createTime}">Дата регистрации</td>
											<td th:text="${user.roles[0].rolename}">Права доступа</td>
											<td th:text="${user.employee.getSNP()}">Сотрудник</td>
											<td>
												<div class="btn-group">
													<button class="btn btn-warning btn-xs dropdown-toggle"
														type="button" data-toggle="dropdown">
														Действия<span class="caret"></span>
													</button>
													<ul class="dropdown-menu">
														<li><a href="#" th:href="@{/user/update(id=${user.id})}"> 
															<span class="glyphicon glyphicon-pencil"></span>
															<span>&nbsp;Редактировать</span></a></li>
														<li><a href="#" th:href="@{/user/delete(id=${user.id})}" 
																data-toggle="modal" 
																data-target="#myModal" 
																th:title="Удалить">
																<span class="glyphicon glyphicon-trash"></span>
																<span>Удалить</span></a></li>
													</ul>
												</div>
											</td>

										</tr>
									</tbody>
								</table>
							</div> <!-- /.table responsive -->
						</div>
					</div>
				</div> <!-- /.col-lg-12 -->
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			 	<div class="modal-dialog">
					<div class="modal-content">
					</div>
				</div>
			</div><!-- /.modal -->			
			</div> <!-- /.row -->
			
		</div> <!-- page wrapper -->
	</div> <!-- /#wrapper -->

<div th:replace="fragments/sb-admin :: scripts"></div>

<!-- DataTables JavaScript -->
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>

<!-- For table (use jquery -->
<script>
    $(document).ready(function() {
        $('#dataTab').DataTable({
            responsive: true
        });
    });
</script>

<!-- Confirmation -->
<script type="text/javascript" src="/js/confirm.js" th:src="@{/js/confirm.js}"></script>

</body>
</html>