<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal-content">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Пользователь</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<ul th:object="${user}">
				<li th:text="*{username}"></li>
				<li th:text="*{email}"></li>
				<li th:text="*{employee.getSNP()}"></li>
			</ul>
		</div>
	</div>
	<div class="modal-footer">
		<form action="#" th:action="@{/user/delete(id=${user.id})}" method="post">
			<button class="btn btn-success" type="submit" name="id" th:field="${user.id }">Да</button>
			<button class="btn btn-danger" type="button" data-dismiss="modal">Нет</button>
		</form>
	</div>
</div>
</body>

</html>