<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head th:replace="fragments/sb-admin :: head"></head>

<body>

<div id="wrapper"><!-- /#wrapper -->

    <div th:replace="fragments/sb-admin :: top-nav"></div>
    <div th:replace="fragments/sb-admin :: vert-nav-admin (work, work.save)"></div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{work}">Категория</h1>
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <!-- Add work form -->
				    <div th:replace="fragments/user-form :: formMessage"></div>
					<form th:replace="fragments/work-form :: workForm (@{/work/save}, 'Сохранить', false, false, false, false, false)"></form>
					</div>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- page wrapper -->
</div><!-- /#wrapper -->

<div th:replace="fragments/sb-admin :: scripts"></div>
<script type="text/javascript" src="/js/datepicker/js/bootstrap-datepicker.js"
    th:src="@{/js/datepicker/js/bootstrap-datepicker.js}"></script>
<script type="text/javascript" src="/js/datepicker/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"
    th:src="@{/js/datepicker/locales/bootstrap-datepicker.ru.min.js}"></script>
<script type="text/javascript" src="/js/datepicker/locales/bootstrap-datepicker.uk.min.js" charset="UTF-8"
    th:src="@{/js/datepicker/locales/bootstrap-datepicker.uk.min.js}"></script>
<script th:inline="javascript">
	$('#date').datepicker({
	    clearBtn: true,
	    language: /*[[${#strings.concat(#locale.language, '-', #locale.country)}]]*/,
	    autoclose: true
	});
</script>

<script type="text/javascript" src="/js/bootstrap-filestyle.js"
    th:src="@{/js/bootstrap-filestyle.js}"></script>
<script th:inline="javascript">
	$('#doc').filestyle({
		buttonBefore : true,
		buttonName : 'btn-success',
		buttonText: /*[[${#strings.concat('&nbsp;', #messages.msg('upload'))}]]*/
	});
</script>
</body>
</html>