<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head th:replace="fragments/work-form :: head"></head>

<body>

<div id="wrapper"><!-- /#wrapper -->

    <div th:replace="fragments/sb-admin :: top-nav"></div>
    <div th:replace="fragments/sb-admin :: vert-nav-admin (work, work.save)"></div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{work}">#</h1>
                <div class="col-sm-2"></div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <!-- Add work form -->
				    <div th:replace="fragments/user-form :: formMessage"></div>
					<form th:replace="fragments/work-form :: workForm (@{/work/save}, #{save}, false, false, false, false, false, false, false)"></form>
					</div>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- page wrapper -->
</div><!-- /#wrapper -->

<div th:replace="fragments/sb-admin :: scripts"></div>
<div th:replace="fragments/work-form :: scripts"></div>

</body>
</html>